.tool-type {
  background-color: white; /* bg-white */
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  font-size: 0.75rem; /* text-xs */
  font-weight: 500; /* font-medium */
  line-height: 2.5rem; /* leading-10 */
}

.tool-type-activity {
  background-color: #E60001;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}